.container {
    background-color: rgb(33, 227, 241);
    width: 550px;
    height: 500px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 50px;
}

.signup-box{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    border: 2px solid black;
    padding: 20px; 
    
}
.signup-components{
    height: 350px;
    width: 450px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    background-color: rgb(15, 234, 249);
    justify-content: space-around;
     
}
.signup-component{
    display: flex;
    justify-content: space-between;
    
}
.colorss {
    background-color: rgb(112, 215, 215);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.signup{
    height: 30px;
    width: 70px;
}